* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION MENU */
nav {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    font-size: 20px;
    height: 70px;
    .side-nav {
        a {
            display: inline-block;
            padding: 15px;
            
            text-decoration: none;
            color: #FFF;
            &:hover {
                color: red;
            }
            &.close {
                display: none;
            }
        }
    }
    i.fas {
        position: absolute;
        right: 10px;
        margin: 9px 10px;
        color: #FFF;
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        &.mobile-mode {
            text-align: center;
            z-index: 1;
            overflow: auto;
            position: fixed;
            width: 100%;
            height: 100%;
            background: #FFF;
            .side-nav {
                display: block;
                a {
                    display: block;
                    color: black;
                    &.close {
                        font-weight: bold;
                        display: block;
                        i {
                            position: relative;
                            display: block;
                            color: #009688;
                            font-size: 20px;
                        }
                    }
                    &:hover {
                        background-color: blanchedalmond;
                    }
                }
            }
        }
        .side-nav {
            height: 45px;
            a {
                display: none;
            }
        }
        i.fas {
            display: block;
            right: 0;
        }
    }
}